@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&family=Roboto&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

    
body{
  /* font-family: gilroy; */
  font-family: 'Rajdhani', sans-serif;
  background: #ECEEEC;
}
.nav{
  background-color: #A58A6D;
}

.on{
  background: #000;
  color: white;
}
.off{
  background: white;
  color: black;
}


.parent {
  background: white;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.parent[data-isOpen="true"] {
  width: 400px;
  height: 200px;
}
